<style>
    #weather {
        left: auto;
        right: 0;
    }
</style>

<div class="{{app.settings.navbarCollapseColor}}" ng-controller="HeaderController">
    <!-- nabar left -->
    <ul class="nav navbar-nav navbar-left">
        <a href="#/" class="navbar-brand">
            <img src="img/left_logo.png" alt=".">
        </a>
    </ul>
    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li ng-mouseover="showWeatherDropdown();" ng-mouseleave="hideWeatherDropdown();" ng-click="showWeekWeather();">
            <a href class="dropdown-toggle" dropdown-toggle style="height: 55px;margin-top: -5px;display: inline-block">
                <c ng-repeat='x in resweather | limitTo:1'>
                    <c ng-repeat='y in x.weather_data | limitTo:1'>
                        <span class='weather-wrap '>{{resdate.substring(0, 4)+'年'}}{{y.date.split(' ')[1]}}&nbsp;&nbsp;&nbsp;{{ x.currentCity}}&nbsp;&nbsp;&nbsp;</span>
                        <c ng-repeat='z in resdatenation.f1 | limitTo:1'>
                            <span ng-class="{'weather-icon-min-0 weather-night-sm-{{z.fb}}':z.fa=='','weather-icon-min-0 weather-day-sm-{{z.fa}}':z.fa!=''}"></span>
                            <span class='weather-wrap'>{{z.fa==''?tq[z.fb]:tq[z.fa]}}&nbsp;</span>
                        </c>
                    </c>
                </c>
                <b class="caret"></b>
            </a>
            <div class="dropdown-menu w-xl animated fadeInUp" id="weather">
                <div class="panel bg-white">
                    <div class="list-group">
                        <span class="media-body block m-b-none text-center" style="line-height: 40px;">
                             应该是天气信息吧
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li dropdown="" class="dropdown open">
            <a dropdown-toggle="" class="dropdown-toggle" href="" aria-haspopup="true" aria-expanded="true">
                <i class="glyphicon  glyphicon-envelope fa-fw"></i>
                <span class="visible-xs-inline">Notifications</span>
                <span class="badge badge-sm up bg-danger pull-right-xs">{{alarm_amount}}</span>
            </a>

            <!-- dropdown 消息下拉菜单-->
            <div class="dropdown-menu w-xl animated fadeInUp">
                <div class="panel bg-white">
                    <div class="panel-heading b-light bg-light" style="background-color: #eee">
                        <strong>您有 <span>{{alarm_amount}}</span> 条消息未处理</strong>
                    </div>
                    <div class="list-group">
                        <a class="media list-group-item" style="margin-top:0px;" ui-sref="app.message({type:1})">
                    <span class="pull-left " style=" display: inline-block; width:27px;">
                      <i class="glyphicon glyphicon-bell " style="font-size: 20px;color: #f05050"></i>
                    </span>
                            <span class="media-body block m-b-none">
                      告警信息：({{alarm_amount}})<br>
                    </span>
                        </a>
                        <a class="media list-group-item" style="margin-top:0px;" ui-sref="app.message({type:2})">
                    <span class="media-body block m-b-none">
                    <i class="glyphicon glyphicon-warning-sign " style="font-size: 14px;color: #fad733"></i>
                      &nbsp;&nbsp;设备异常信息：({{messageall.exception_amount}})<br>
                     
                    </span>
                        </a>
                        <a class="media list-group-item" style="margin-top:0px;" ui-sref="app.message({type:3})">
                    <span class="media-body block m-b-none">
                    <i class="glyphicon  glyphicon-tag " style="font-size: 14px;color: #23b7e5"></i>
                      &nbsp;&nbsp;待办任务：({{messageall.schedule_amount}})<br>
                     
                    </span>
                        </a>
                        <a class="media list-group-item" style="margin-top:0px;" ui-sref="app.message({type:4})">
                    <span class="media-body block m-b-none">
                    <i class="glyphicon glyphicon-folder-open " style="font-size: 14px;color: #23b7e5"></i>
                     &nbsp;&nbsp;用户信息：({{messageall.userMsg_amount}})<br>
                    </span>
                        </a>
                    </div>

                </div>
            </div>
        </li>
        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class=" ">
                <i class="glyphicon glyphicon-user "></i>
              </span>
                <span ng-show="false">{{userId}}</span>
                <span class="hidden-sm hidden-md ">{{userName}}</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu animated fadeInRight w">
                <!--<li>
                    <a>个人中心</a>
                </li>-->
                <li>
                    <a ng-click="loginOut()" ui-sref="access.login">退出</a>
                </li>
                </li>
            </ul>
        </li>
    </ul>
</div>

