<style>
    .dialog-panel .dialog-content {
        height: 400px;
        padding-bottom: 50px;
        background: #666;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aaa), to(#666));
        background: -moz-linear-gradient(top, #aaa, #666);
        background: -webkit-linear-gradient(top, #aaa, #666);
        background: -o-linear-gradient(top, #aaa, #666);
        color: #fff;
    }

    .weather-content h5 {
        padding: 10px 10px 10px 15px
    }

    .city {
        height: 40px;
        line-height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bordered {
        border-left: 1px solid #eee;
    }

    h2 {
        margin-top: 10px;
    }
</style>
<div id="groupForms" class="dialog-panel" app-controller="weatherController" data-ng-init="">
    <div class="dialog-top-bar">
        <div class="dialog-close-btn" ng-click="close();">×</div>
        <div class="dailog-title">
            <span class="split"></span>
            <span class="title">天气预报</span>
        </div>
    </div>
    <div class="dialog-content weather-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 city">
                    <div class="pull-left">城市选择</div>
                    <div class="col-xs-4  pull-left">
                        <select class="form-control" ng-model="getProvcn" ng-change="changeprovence(true)" id="proven"
                                style="height: auto !important;">
                            <option ng-repeat="provn in province" ng-selected="getProvcn == provn.proven"
                                    ng-bind="provn.provcn">{{provn.proven}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-4 pull-left">
                        <select class="form-control" ng-model="getCity" ng-change="getWeather(true)"
                                style="height: auto !important;">
                            <option value="{{city.districtcn}}" ng-repeat="city in cities"
                                    ng-bind="city.districtcn"></option>
                        </select>
                    </div>

                </div>
                <h5>{{weather_data[0].date}}</h5>
                <div ng-class="{'col-xs-6 text-center':$first,'col-xs-3 text-center bordered':!$first}"
                     ng-repeat="weather in weather_data" ng-if="!$last">
                    <p ng-if="!$first">{{weather.date}}</p>
                    <span ng-class="{'weather-icon-lg-0 weather-night-lg-{{resdatenation[$index].fb}}':resdatenation[$index].fa=='','weather-icon-lg-0 weather-day-lg-{{resdatenation[$index].fa}}':resdatenation[$index].fa!=''}"></span>
                    <h2 ng-if="$first">{{weather.temperature}}</h2>
                    <p ng-if="!$first">{{weather.temperature}}</p>
                    <p>{{weather.weather}}</p>
                    <p>{{weather.wind}}</p>
                </div>

            </div>
        </div>

    </div>
</div>