<!--动态构造导航菜单-->
<ul class="nav" ng-controller="NavController" style="z-index: 10;">
  <!--顶部收缩按钮-->
  <!--<li class="btn">
      <img src="img/1.png" ng-click="app.settings.asideFolded = !app.settings.asideFolded" >
  </li>
  &lt;!&ndash;菜单项&ndash;&gt;
  <li ng-repeat="a1 in navbar">
    <a class="auto" ng-click="navClick($event,{{a1}});" functionCode = "{{a1.code}}">
      <span class="pull-right text-muted" ng-show= "a1.children==null?false:true">
        <i class="icon-angle-right text"></i>
        <i class="icon-angle-down text-active"></i>
      </span>
      <i class="{{a1.icon}}"></i>
      <span>{{a1.label}}</span>
    </a>
    <ul  class="nav nav-sub dk">
      <li ng-repeat="a2 in a1.children">
        <a ng-click="navClick($event,{{a2}});" functionCode = "{{a2.code}}" ng-class="{'active':isNavActive == a2.link}">
          <i class="{{a2.icon}}"></i>
          <span>{{a2.label}}</span>
        </a>
      </li>
   </ul>
  </li>-->
  <li>菜单一</li>
  <li>菜单一</li>
  <li>菜单一</li>
  <li>菜单一</li>
</ul>