<!-- navbar -->
<div data-ng-include=" 'partials/blocks/header.html' " class="app-header navbar {{app.settings.navbarCollapseColor}}">
</div>
<!-- / navbar -->

<!-- menu -->
<div data-ng-include=" 'partials/blocks/leftMenu.html' " class="app-aside bg-black">
</div>
<!-- / menu -->

<!-- content -->
<div class="app-content">
    <!-- <div ui-butterbar></div> -->
    <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
    <div class="app-content-body fade-in-up">
        <bread-nav></bread-nav>
        <div class="content-body" ui-view></div>
    </div>
</div>