/*设备类型状态图标样式*25*25*/
.equip-icon-min-0 {
    width: 25px;
    height: 25px;
    background-image: url("../img/icon_equip_min.png");
    background-repeat: no-repeat;
}

.equip-icon-min-0.equip-icon-min-0-1-0 {
    background-position: 0px 0px;
}

.equip-icon-min-0.equip-icon-min-0-1-200 {
    background-position: 0px -25px;
}

.equip-icon-min-0.equip-icon-min-0-1-201 {
    background-position: 0px -50px;
}

.equip-icon-min-0.equip-icon-min-0-1-202 {
    background-position: 0px -75px;
}

.equip-icon-min-0.equip-icon-min-0-1--1 {
    background-position: 0px -100px;
}

.equip-icon-min-0.equip-icon-min-0-1-128 {
    background-position: 0px -125px;
}

.equip-icon-min-0.equip-icon-min-0-1-129 {
    background-position: 0px -125px;
}

.equip-icon-min-0.equip-icon-min-0-1-130 {
    background-position: 0px -125px;
}

.equip-icon-min-0.equip-icon-min-0-2-0 {
    background-position: -25px 0px;
}

.equip-icon-min-0.equip-icon-min-0-2-200 {
    background-position: -25px -25px;
}

.equip-icon-min-0.equip-icon-min-0-2-201 {
    background-position: -25px -50px;
}

.equip-icon-min-0.equip-icon-min-0-2-202 {
    background-position: -25px -75px;
}

.equip-icon-min-0.equip-icon-min-0-2--1 {
    background-position: -25px -100px;
}

.equip-icon-min-0.equip-icon-min-0-2-128 {
    background-position: -25px -125px;
}

.equip-icon-min-0.equip-icon-min-0-2-129 {
    background-position: -25px -125px;
}

.equip-icon-min-0.equip-icon-min-0-2-130 {
    background-position: -25px -125px;
}

.equip-icon-min-0.equip-icon-min-0-3-0 {
    background-position: -50px 0px;
}

.equip-icon-min-0.equip-icon-min-0-3-200 {
    background-position: -50px -25px;
}

.equip-icon-min-0.equip-icon-min-0-3-201 {
    background-position: -50px -50px;
}

.equip-icon-min-0.equip-icon-min-0-3-202 {
    background-position: -50px -75px;
}

.equip-icon-min-0.equip-icon-min-0-3--1 {
    background-position: -50px -100px;
}

.equip-icon-min-0.equip-icon-min-0-3-128 {
    background-position: -50px -125px;
}

.equip-icon-min-0.equip-icon-min-0-3-129 {
    background-position: -50px -125px;
}

.equip-icon-min-0.equip-icon-min-0-3-130 {
    background-position: -50px -125px;
}

.equip-icon-min-0.equip-icon-min-0-4-0 {
    background-position: -75px 0px;
}

.equip-icon-min-0.equip-icon-min-0-4-200 {
    background-position: -75px -25px;
}

.equip-icon-min-0.equip-icon-min-0-4-201 {
    background-position: -75px -50px;
}

.equip-icon-min-0.equip-icon-min-0-4-202 {
    background-position: -75px -75px;
}

.equip-icon-min-0.equip-icon-min-0-4--1 {
    background-position: -75px -100px;
}

.equip-icon-min-0.equip-icon-min-0-4-128 {
    background-position: -75px -125px;
}

.equip-icon-min-0.equip-icon-min-0-4-129 {
    background-position: -75px -125px;
}

.equip-icon-min-0.equip-icon-min-0-4-130 {
    background-position: -75px -125px;
}

.equip-icon-min-0.equip-icon-min-0-5-0 {
    background-position: -100px 0px;
}

.equip-icon-min-0.equip-icon-min-0-5-200 {
    background-position: -100px -25px;
}

.equip-icon-min-0.equip-icon-min-0-5-201 {
    background-position: -100px -50px;
}

.equip-icon-min-0.equip-icon-min-0-5-202 {
    background-position: -100px -75px;
}

.equip-icon-min-0.equip-icon-min-0-5--1 {
    background-position: -100px -100px;
}

.equip-icon-min-0.equip-icon-min-0-5-128 {
    background-position: -100px -125px;
}

.equip-icon-min-0.equip-icon-min-0-5-129 {
    background-position: -100px -125px;
}

.equip-icon-min-0.equip-icon-min-0-5-130 {
    background-position: -100px -125px;
}

.equip-icon-min-0.equip-icon-min-0-6-0 {
    background-position: -125px 0px;
}

.equip-icon-min-0.equip-icon-min-0-6-200 {
    background-position: -125px -25px;
}

.equip-icon-min-0.equip-icon-min-0-6-201 {
    background-position: -125px -50px;
}

.equip-icon-min-0.equip-icon-min-0-6-202 {
    background-position: -125px -75px;
}

.equip-icon-min-0.equip-icon-min-0-6--1 {
    background-position: -125px -100px;
}

.equip-icon-min-0.equip-icon-min-0-6-128 {
    background-position: -125px -125px;
}

.equip-icon-min-0.equip-icon-min-0-6-129 {
    background-position: -125px -125px;
}

.equip-icon-min-0.equip-icon-min-0-6-130 {
    background-position: -125px -125px;
}

.equip-icon-min-0.equip-icon-min-0-7-0 {
    background-position: -150px 0px;
}

.equip-icon-min-0.equip-icon-min-0-7-200 {
    background-position: -150px -25px;
}

.equip-icon-min-0.equip-icon-min-0-7-201 {
    background-position: -150px -50px;
}

.equip-icon-min-0.equip-icon-min-0-7-202 {
    background-position: -150px -75px;
}

.equip-icon-min-0.equip-icon-min-0-7--1 {
    background-position: -150px -100px;
}

.equip-icon-min-0.equip-icon-min-0-7-128 {
    background-position: -150px -125px;
}

.equip-icon-min-0.equip-icon-min-0-7-129 {
    background-position: -150px -125px;
}

.equip-icon-min-0.equip-icon-min-0-7-130 {
    background-position: -150px -125px;
}

.equip-icon-min-0.equip-icon-min-0-8-0 {
    background-position: -175px 0px;
}

.equip-icon-min-0.equip-icon-min-0-8-200 {
    background-position: -175px -25px;
}

.equip-icon-min-0.equip-icon-min-0-8-201 {
    background-position: -175px -50px;
}

.equip-icon-min-0.equip-icon-min-0-8-202 {
    background-position: -175px -75px;
}

.equip-icon-min-0.equip-icon-min-0-8--1 {
    background-position: -175px -100px;
}

.equip-icon-min-0.equip-icon-min-0-8-128 {
    background-position: -175px -125px;
}

.equip-icon-min-0.equip-icon-min-0-8-129 {
    background-position: -175px -125px;
}

.equip-icon-min-0.equip-icon-min-0-8-130 {
    background-position: -175px -125px;
}

.equip-icon-min-0.equip-icon-min-0-9-0 {
    background-position: -200px 0px;
}

.equip-icon-min-0.equip-icon-min-0-9-200 {
    background-position: -200px -25px;
}

.equip-icon-min-0.equip-icon-min-0-9-201 {
    background-position: -200px -50px;
}

.equip-icon-min-0.equip-icon-min-0-9-202 {
    background-position: -200px -75px;
}

.equip-icon-min-0.equip-icon-min-0-9--1 {
    background-position: -200px -100px;
}

.equip-icon-min-0.equip-icon-min-0-9-128 {
    background-position: -200px -125px;
}

.equip-icon-min-0.equip-icon-min-0-9-129 {
    background-position: -200px -125px;
}

.equip-icon-min-0.equip-icon-min-0-9-130 {
    background-position: -200px -125px;
}

.equip-icon-min-0.equip-icon-min-0-10-0 {
    background-position: -225px 0px;
}

.equip-icon-min-0.equip-icon-min-0-10-200 {
    background-position: -225px -25px;
}

.equip-icon-min-0.equip-icon-min-0-10-201 {
    background-position: -225px -50px;
}

.equip-icon-min-0.equip-icon-min-0-10-202 {
    background-position: -225px -75px;
}

.equip-icon-min-0.equip-icon-min-0-10--1 {
    background-position: -225px -100px;
}

.equip-icon-min-0.equip-icon-min-0-10-128 {
    background-position: -225px -125px;
}

.equip-icon-min-0.equip-icon-min-0-10-129 {
    background-position: -225px -125px;
}

.equip-icon-min-0.equip-icon-min-0-10-130 {
    background-position: -225px -125px;
}

.equip-icon-min-0.equip-icon-min-0-11-0 {
    background-position: -250px 0px;
}

.equip-icon-min-0.equip-icon-min-0-11-200 {
    background-position: -250px -25px;
}

.equip-icon-min-0.equip-icon-min-0-11-201 {
    background-position: -250px -50px;
}

.equip-icon-min-0.equip-icon-min-0-11-202 {
    background-position: -250px -75px;
}

.equip-icon-min-0.equip-icon-min-0-11--1 {
    background-position: -250px -100px;
}

.equip-icon-min-0.equip-icon-min-0-11-128 {
    background-position: -250px -125px;
}

.equip-icon-min-0.equip-icon-min-0-11-129 {
    background-position: -250px -125px;
}

.equip-icon-min-0.equip-icon-min-0-11-130 {
    background-position: -250px -125px;
}

.equip-icon-min-0.equip-icon-min-0-12-0 {
    background-position: -275px 0px;
}

.equip-icon-min-0.equip-icon-min-0-12-200 {
    background-position: -275px -25px;
}

.equip-icon-min-0.equip-icon-min-0-12-201 {
    background-position: -275px -50px;
}

.equip-icon-min-0.equip-icon-min-0-12-202 {
    background-position: -275px -75px;
}

.equip-icon-min-0.equip-icon-min-0-12--1 {
    background-position: -275px -100px;
}

.equip-icon-min-0.equip-icon-min-0-12-128 {
    background-position: -275px -125px;
}

.equip-icon-min-0.equip-icon-min-0-12-129 {
    background-position: -275px -125px;
}

.equip-icon-min-0.equip-icon-min-0-12-130 {
    background-position: -275px -125px;
}

.equip-icon-min-0.equip-icon-min-0-13-0 {
    background-position: -300px 0px;
}

.equip-icon-min-0.equip-icon-min-0-13-200 {
    background-position: -300px -25px;
}

.equip-icon-min-0.equip-icon-min-0-13-201 {
    background-position: -300px -50px;
}

.equip-icon-min-0.equip-icon-min-0-13-202 {
    background-position: -300px -75px;
}

.equip-icon-min-0.equip-icon-min-0-13--1 {
    background-position: -300px -100px;
}

.equip-icon-min-0.equip-icon-min-0-13-128 {
    background-position: -300px -125px;
}

.equip-icon-min-0.equip-icon-min-0-13-129 {
    background-position: -300px -125px;
}

.equip-icon-min-0.equip-icon-min-0-13-130 {
    background-position: -300px -125px;
}

.equip-icon-min-0.equip-icon-min-0-14-0 {
    background-position: -325px 0px;
}

.equip-icon-min-0.equip-icon-min-0-14-200 {
    background-position: -325px -25px;
}

.equip-icon-min-0.equip-icon-min-0-14-201 {
    background-position: -325px -50px;
}

.equip-icon-min-0.equip-icon-min-0-14-202 {
    background-position: -325px -75px;
}

.equip-icon-min-0.equip-icon-min-0-14--1 {
    background-position: -325px -100px;
}

.equip-icon-min-0.equip-icon-min-0-14-128 {
    background-position: -325px -125px;
}

.equip-icon-min-0.equip-icon-min-0-14-129 {
    background-position: -325px -125px;
}

.equip-icon-min-0.equip-icon-min-0-14-130 {
    background-position: -325px -125px;
}

.equip-icon-min-0.equip-icon-min-0-15-0 {
    background-position: -350px 0px;
}

.equip-icon-min-0.equip-icon-min-0-15-200 {
    background-position: -350px -25px;
}

.equip-icon-min-0.equip-icon-min-0-15-201 {
    background-position: -350px -50px;
}

.equip-icon-min-0.equip-icon-min-0-15-202 {
    background-position: -350px -75px;
}

.equip-icon-min-0.equip-icon-min-0-15--1 {
    background-position: -350px -100px;
}

.equip-icon-min-0.equip-icon-min-0-15-128 {
    background-position: -350px -125px;
}

.equip-icon-min-0.equip-icon-min-0-15-129 {
    background-position: -350px -125px;
}

.equip-icon-min-0.equip-icon-min-0-15-130 {
    background-position: -350px -125px;
}

.equip-icon-min-0.equip-icon-min-0-16-0 {
    background-position: -375px 0px;
}

.equip-icon-min-0.equip-icon-min-0-16-200 {
    background-position: -375px -25px;
}

.equip-icon-min-0.equip-icon-min-0-16-201 {
    background-position: -375px -50px;
}

.equip-icon-min-0.equip-icon-min-0-16-202 {
    background-position: -375px -75px;
}

.equip-icon-min-0.equip-icon-min-0-16--1 {
    background-position: -375px -100px;
}

.equip-icon-min-0.equip-icon-min-0-16-128 {
    background-position: -375px -125px;
}

.equip-icon-min-0.equip-icon-min-0-16-129 {
    background-position: -375px -125px;
}

.equip-icon-min-0.equip-icon-min-0-16-130 {
    background-position: -375px -125px;
}

.equip-icon-min-0.equip-icon-min-0-17-0 {
    background-position: -400px 0px;
}

.equip-icon-min-0.equip-icon-min-0-17-200 {
    background-position: -400px -25px;
}

.equip-icon-min-0.equip-icon-min-0-17-201 {
    background-position: -400px -50px;
}

.equip-icon-min-0.equip-icon-min-0-17-202 {
    background-position: -400px -75px;
}

.equip-icon-min-0.equip-icon-min-0-17--1 {
    background-position: -400px -100px;
}

.equip-icon-min-0.equip-icon-min-0-17-128 {
    background-position: -400px -125px;
}

.equip-icon-min-0.equip-icon-min-0-17-129 {
    background-position: -400px -125px;
}

.equip-icon-min-0.equip-icon-min-0-17-130 {
    background-position: -400px -125px;
}

.equip-icon-min-0.equip-icon-min-0-18-0 {
    background-position: -425px 0px;
}

.equip-icon-min-0.equip-icon-min-0-18-200 {
    background-position: -425px -25px;
}

.equip-icon-min-0.equip-icon-min-0-18-201 {
    background-position: -425px -50px;
}

.equip-icon-min-0.equip-icon-min-0-18-202 {
    background-position: -425px -75px;
}

.equip-icon-min-0.equip-icon-min-0-18--1 {
    background-position: -425px -100px;
}

.equip-icon-min-0.equip-icon-min-0-18-128 {
    background-position: -425px -125px;
}

.equip-icon-min-0.equip-icon-min-0-18-129 {
    background-position: -425px -125px;
}

.equip-icon-min-0.equip-icon-min-0-18-130 {
    background-position: -425px -125px;
}

.equip-icon-min-0.equip-icon-min-0-19-0 {
    background-position: -450px 0px;
}

.equip-icon-min-0.equip-icon-min-0-19-200 {
    background-position: -450px -25px;
}

.equip-icon-min-0.equip-icon-min-0-19-201 {
    background-position: -450px -50px;
}

.equip-icon-min-0.equip-icon-min-0-19-202 {
    background-position: -450px -75px;
}

.equip-icon-min-0.equip-icon-min-0-19--1 {
    background-position: -450px -100px;
}

.equip-icon-min-0.equip-icon-min-0-19-128 {
    background-position: -450px -125px;
}

.equip-icon-min-0.equip-icon-min-0-19-129 {
    background-position: -450px -125px;
}

.equip-icon-min-0.equip-icon-min-0-19-130 {
    background-position: -450px -125px;
}

.equip-icon-min-0.equip-icon-min-0-20-0 {
    background-position: -475px 0px;
}

.equip-icon-min-0.equip-icon-min-0-20-200 {
    background-position: -475px -25px;
}

.equip-icon-min-0.equip-icon-min-0-20-201 {
    background-position: -475px -50px;
}

.equip-icon-min-0.equip-icon-min-0-20-202 {
    background-position: -475px -75px;
}

.equip-icon-min-0.equip-icon-min-0-20--1 {
    background-position: -475px -100px;
}

.equip-icon-min-0.equip-icon-min-0-20-128 {
    background-position: -475px -125px;
}

.equip-icon-min-0.equip-icon-min-0-20-129 {
    background-position: -475px -125px;
}

.equip-icon-min-0.equip-icon-min-0-20-130 {
    background-position: -475px -125px;
}

.equip-icon-min-0.equip-icon-min-0-21-0 {
    background-position: -500px 0px;
}

.equip-icon-min-0.equip-icon-min-0-21-200 {
    background-position: -500px -25px;
}

.equip-icon-min-0.equip-icon-min-0-21-201 {
    background-position: -500px -50px;
}

.equip-icon-min-0.equip-icon-min-0-21-202 {
    background-position: -500px -75px;
}

.equip-icon-min-0.equip-icon-min-0-21--1 {
    background-position: -500px -100px;
}

.equip-icon-min-0.equip-icon-min-0-21-128 {
    background-position: -500px -125px;
}

.equip-icon-min-0.equip-icon-min-0-21-129 {
    background-position: -500px -125px;
}

.equip-icon-min-0.equip-icon-min-0-21-130 {
    background-position: -500px -125px;
}

.equip-icon-min-0.equip-icon-min-0-22-0 {
    background-position: -525px 0px;
}

.equip-icon-min-0.equip-icon-min-0-22-200 {
    background-position: -525px -25px;
}

.equip-icon-min-0.equip-icon-min-0-22-201 {
    background-position: -525px -50px;
}

.equip-icon-min-0.equip-icon-min-0-22-202 {
    background-position: -525px -75px;
}

.equip-icon-min-0.equip-icon-min-0-22--1 {
    background-position: -525px -100px;
}

.equip-icon-min-0.equip-icon-min-0-22-128 {
    background-position: -525px -125px;
}

.equip-icon-min-0.equip-icon-min-0-22-129 {
    background-position: -525px -125px;
}

.equip-icon-min-0.equip-icon-min-0-22-130 {
    background-position: -525px -125px;
}

.equip-icon-min-0.equip-icon-min-0-23-0 {
    background-position: -550px 0px;
}

.equip-icon-min-0.equip-icon-min-0-23-200 {
    background-position: -550px -25px;
}

.equip-icon-min-0.equip-icon-min-0-23-201 {
    background-position: -550px -50px;
}

.equip-icon-min-0.equip-icon-min-0-23-202 {
    background-position: -550px -75px;
}

.equip-icon-min-0.equip-icon-min-0-23--1 {
    background-position: -550px -100px;
}

.equip-icon-min-0.equip-icon-min-0-23-128 {
    background-position: -550px -125px;
}

.equip-icon-min-0.equip-icon-min-0-23-129 {
    background-position: -550px -125px;
}

.equip-icon-min-0.equip-icon-min-0-23-130 {
    background-position: -550px -125px;
}

.equip-icon-min-0.equip-icon-min-0-24-0 {
    background-position: -575px 0px;
}

.equip-icon-min-0.equip-icon-min-0-24-200 {
    background-position: -575px -25px;
}

.equip-icon-min-0.equip-icon-min-0-24-201 {
    background-position: -575px -50px;
}

.equip-icon-min-0.equip-icon-min-0-24-202 {
    background-position: -575px -75px;
}

.equip-icon-min-0.equip-icon-min-0-24--1 {
    background-position: -575px -100px;
}

.equip-icon-min-0.equip-icon-min-0-24-128 {
    background-position: -575px -125px;
}

.equip-icon-min-0.equip-icon-min-0-24-129 {
    background-position: -575px -125px;
}

.equip-icon-min-0.equip-icon-min-0-24-130 {
    background-position: -575px -125px;
}

.equip-icon-min-0.equip-icon-min-0-25-0 {
    background-position: -600px 0px;
}

.equip-icon-min-0.equip-icon-min-0-25-200 {
    background-position: -600px -25px;
}

.equip-icon-min-0.equip-icon-min-0-25-201 {
    background-position: -600px -50px;
}

.equip-icon-min-0.equip-icon-min-0-25-202 {
    background-position: -600px -75px;
}

.equip-icon-min-0.equip-icon-min-0-25--1 {
    background-position: -600px -100px;
}

.equip-icon-min-0.equip-icon-min-0-25-128 {
    background-position: -600px -125px;
}

.equip-icon-min-0.equip-icon-min-0-25-129 {
    background-position: -600px -125px;
}

.equip-icon-min-0.equip-icon-min-0-25-130 {
    background-position: -600px -125px;
}

.equip-icon-min-0.equip-icon-min-0-26-0 {
    background-position: -625px 0px;
}

.equip-icon-min-0.equip-icon-min-0-26-200 {
    background-position: -625px -25px;
}

.equip-icon-min-0.equip-icon-min-0-26-201 {
    background-position: -625px -50px;
}

.equip-icon-min-0.equip-icon-min-0-26-202 {
    background-position: -625px -75px;
}

.equip-icon-min-0.equip-icon-min-0-26--1 {
    background-position: -625px -100px;
}

.equip-icon-min-0.equip-icon-min-0-26-128 {
    background-position: -625px -125px;
}

.equip-icon-min-0.equip-icon-min-0-26-129 {
    background-position: -625px -125px;
}

.equip-icon-min-0.equip-icon-min-0-26-130 {
    background-position: -625px -125px;
}

.equip-icon-min-0.equip-icon-min-0-27-0 {
    background-position: -650px 0px;
}

.equip-icon-min-0.equip-icon-min-0-27-200 {
    background-position: -650px -25px;
}

.equip-icon-min-0.equip-icon-min-0-27-201 {
    background-position: -650px -50px;
}

.equip-icon-min-0.equip-icon-min-0-27-202 {
    background-position: -650px -75px;
}

.equip-icon-min-0.equip-icon-min-0-27--1 {
    background-position: -650px -100px;
}

.equip-icon-min-0.equip-icon-min-0-27-128 {
    background-position: -650px -125px;
}

.equip-icon-min-0.equip-icon-min-0-27-129 {
    background-position: -650px -125px;
}

.equip-icon-min-0.equip-icon-min-0-27-130 {
    background-position: -650px -125px;
}

.equip-icon-min-0.equip-icon-min-0-28-0 {
    background-position: -675px 0px;
}

.equip-icon-min-0.equip-icon-min-0-28-200 {
    background-position: -675px -25px;
}

.equip-icon-min-0.equip-icon-min-0-28-201 {
    background-position: -675px -50px;
}

.equip-icon-min-0.equip-icon-min-0-28-202 {
    background-position: -675px -75px;
}

.equip-icon-min-0.equip-icon-min-0-28--1 {
    background-position: -675px -100px;
}

.equip-icon-min-0.equip-icon-min-0-28-128 {
    background-position: -675px -125px;
}

.equip-icon-min-0.equip-icon-min-0-28-129 {
    background-position: -675px -125px;
}

.equip-icon-min-0.equip-icon-min-0-28-130 {
    background-position: -675px -125px;
}

.equip-icon-min-0.equip-icon-min-0-29-0 {
    background-position: -700px 0px;
}

.equip-icon-min-0.equip-icon-min-0-29-200 {
    background-position: -700px -25px;
}

.equip-icon-min-0.equip-icon-min-0-29-201 {
    background-position: -700px -50px;
}

.equip-icon-min-0.equip-icon-min-0-29-202 {
    background-position: -700px -75px;
}

.equip-icon-min-0.equip-icon-min-0-29--1 {
    background-position: -700px -100px;
}

.equip-icon-min-0.equip-icon-min-0-29-128 {
    background-position: -700px -125px;
}

.equip-icon-min-0.equip-icon-min-0-29-129 {
    background-position: -700px -125px;
}

.equip-icon-min-0.equip-icon-min-0-29-130 {
    background-position: -700px -125px;
}

.equip-icon-min-0.equip-icon-min-0-30-0 {
    background-position: -725px 0px;
}

.equip-icon-min-0.equip-icon-min-0-30-200 {
    background-position: -725px -25px;
}

.equip-icon-min-0.equip-icon-min-0-30-201 {
    background-position: -725px -50px;
}

.equip-icon-min-0.equip-icon-min-0-30-202 {
    background-position: -725px -75px;
}

.equip-icon-min-0.equip-icon-min-0-30--1 {
    background-position: -725px -100px;
}

.equip-icon-min-0.equip-icon-min-0-30-128 {
    background-position: -725px -125px;
}

.equip-icon-min-0.equip-icon-min-0-30-129 {
    background-position: -725px -125px;
}

.equip-icon-min-0.equip-icon-min-0-30-130 {
    background-position: -725px -125px;
}

/*设备类型状态图标样式*42*42*/
.equip-icon-0 {
    width: 42px;
    height: 42px;
    background-image: url("../img/icon_equip.png");
    background-repeat: no-repeat;
}

.equip-icon-0.equip-icon-0-1-0 {
    background-position: 0px 0px;
}

.equip-icon-0.equip-icon-0-1-200 {
    background-position: 0px -42px;
}

.equip-icon-0.equip-icon-0-1-201 {
    background-position: 0px -84px;
}

.equip-icon-0.equip-icon-0-1-202 {
    background-position: 0px -126px;
}

.equip-icon-0.equip-icon-0-1--1 {
    background-position: 0px -168px;
}

.equip-icon-0.equip-icon-0-1-999 {
    background-position: 0px -210px;
}

.equip-icon-0.equip-icon-0-1-128 {
    background-position: 0px -252px;
}

.equip-icon-0.equip-icon-0-1-129 {
    background-position: 0px -252px;
}

.equip-icon-0.equip-icon-0-1-130 {
    background-position: 0px -252px;
}

.equip-icon-0.equip-icon-0-2-0 {
    background-position: -42px 0px;
}

.equip-icon-0.equip-icon-0-2-200 {
    background-position: -42px -42px;
}

.equip-icon-0.equip-icon-0-2-201 {
    background-position: -42px -84px;
}

.equip-icon-0.equip-icon-0-2-202 {
    background-position: -42px -126px;
}

.equip-icon-0.equip-icon-0-2--1 {
    background-position: -42px -168px;
}

.equip-icon-0.equip-icon-0-2-999 {
    background-position: -42px -210px;
}

.equip-icon-0.equip-icon-0-2-128 {
    background-position: -42px -252px;
}

.equip-icon-0.equip-icon-0-2-129 {
    background-position: -42px -252px;
}

.equip-icon-0.equip-icon-0-2-130 {
    background-position: -42px -252px;
}

.equip-icon-0.equip-icon-0-3-0 {
    background-position: -84px 0px;
}

.equip-icon-0.equip-icon-0-3-200 {
    background-position: -84px -42px;
}

.equip-icon-0.equip-icon-0-3-201 {
    background-position: -84px -84px;
}

.equip-icon-0.equip-icon-0-3-202 {
    background-position: -84px -126px;
}

.equip-icon-0.equip-icon-0-3--1 {
    background-position: -84px -168px;
}

.equip-icon-0.equip-icon-0-3-999 {
    background-position: -84px -210px;
}

.equip-icon-0.equip-icon-0-3-128 {
    background-position: -84px -252px;
}

.equip-icon-0.equip-icon-0-3-129 {
    background-position: -84px -252px;
}

.equip-icon-0.equip-icon-0-3-130 {
    background-position: -84px -252px;
}

.equip-icon-0.equip-icon-0-4-0 {
    background-position: -126px 0px;
}

.equip-icon-0.equip-icon-0-4-200 {
    background-position: -126px -42px;
}

.equip-icon-0.equip-icon-0-4-201 {
    background-position: -126px -84px;
}

.equip-icon-0.equip-icon-0-4-202 {
    background-position: -126px -126px;
}

.equip-icon-0.equip-icon-0-4--1 {
    background-position: -126px -168px;
}

.equip-icon-0.equip-icon-0-4-999 {
    background-position: -126px -210px;
}

.equip-icon-0.equip-icon-0-4-128 {
    background-position: -126px -252px;
}

.equip-icon-0.equip-icon-0-4-129 {
    background-position: -126px -252px;
}

.equip-icon-0.equip-icon-0-4-130 {
    background-position: -126px -252px;
}

.equip-icon-0.equip-icon-0-5-0 {
    background-position: -168px 0px;
}

.equip-icon-0.equip-icon-0-5-200 {
    background-position: -168px -42px;
}

.equip-icon-0.equip-icon-0-5-201 {
    background-position: -168px -84px;
}

.equip-icon-0.equip-icon-0-5-202 {
    background-position: -168px -126px;
}

.equip-icon-0.equip-icon-0-5--1 {
    background-position: -168px -168px;
}

.equip-icon-0.equip-icon-0-5-999 {
    background-position: -168px -210px;
}

.equip-icon-0.equip-icon-0-5-128 {
    background-position: -168px -252px;
}

.equip-icon-0.equip-icon-0-5-129 {
    background-position: -168px -252px;
}

.equip-icon-0.equip-icon-0-5-130 {
    background-position: -168px -252px;
}

.equip-icon-0.equip-icon-0-6-0 {
    background-position: -210px 0px;
}

.equip-icon-0.equip-icon-0-6-200 {
    background-position: -210px -42px;
}

.equip-icon-0.equip-icon-0-6-201 {
    background-position: -210px -84px;
}

.equip-icon-0.equip-icon-0-6-202 {
    background-position: -210px -126px;
}

.equip-icon-0.equip-icon-0-6--1 {
    background-position: -210px -168px;
}

.equip-icon-0.equip-icon-0-6-999 {
    background-position: -210px -210px;
}

.equip-icon-0.equip-icon-0-6-128 {
    background-position: -210px -252px;
}

.equip-icon-0.equip-icon-0-6-129 {
    background-position: -210px -252px;
}

.equip-icon-0.equip-icon-0-6-130 {
    background-position: -210px -252px;
}

.equip-icon-0.equip-icon-0-7-0 {
    background-position: -252px 0px;
}

.equip-icon-0.equip-icon-0-7-200 {
    background-position: -252px -42px;
}

.equip-icon-0.equip-icon-0-7-201 {
    background-position: -252px -84px;
}

.equip-icon-0.equip-icon-0-7-202 {
    background-position: -252px -126px;
}

.equip-icon-0.equip-icon-0-7--1 {
    background-position: -252px -168px;
}

.equip-icon-0.equip-icon-0-7-999 {
    background-position: -252px -210px;
}

.equip-icon-0.equip-icon-0-7-128 {
    background-position: -252px -252px;
}

.equip-icon-0.equip-icon-0-7-129 {
    background-position: -252px -252px;
}

.equip-icon-0.equip-icon-0-7-130 {
    background-position: -252px -252px;
}

.equip-icon-0.equip-icon-0-8-0 {
    background-position: -294px 0px;
}

.equip-icon-0.equip-icon-0-8-200 {
    background-position: -294px -42px;
}

.equip-icon-0.equip-icon-0-8-201 {
    background-position: -294px -84px;
}

.equip-icon-0.equip-icon-0-8-202 {
    background-position: -294px -126px;
}

.equip-icon-0.equip-icon-0-8--1 {
    background-position: -294px -168px;
}

.equip-icon-0.equip-icon-0-8-999 {
    background-position: -294px -210px;
}

.equip-icon-0.equip-icon-0-8-128 {
    background-position: -294px -252px;
}

.equip-icon-0.equip-icon-0-8-129 {
    background-position: -294px -252px;
}

.equip-icon-0.equip-icon-0-8-130 {
    background-position: -294px -252px;
}

.equip-icon-0.equip-icon-0-9-0 {
    background-position: -336px 0px;
}

.equip-icon-0.equip-icon-0-9-200 {
    background-position: -336px -42px;
}

.equip-icon-0.equip-icon-0-9-201 {
    background-position: -336px -84px;
}

.equip-icon-0.equip-icon-0-9-202 {
    background-position: -336px -126px;
}

.equip-icon-0.equip-icon-0-9--1 {
    background-position: -336px -168px;
}

.equip-icon-0.equip-icon-0-9-999 {
    background-position: -336px -210px;
}

.equip-icon-0.equip-icon-0-9-128 {
    background-position: -336px -252px;
}

.equip-icon-0.equip-icon-0-9-129 {
    background-position: -336px -252px;
}

.equip-icon-0.equip-icon-0-9-130 {
    background-position: -336px -252px;
}

.equip-icon-0.equip-icon-0-10-0 {
    background-position: -378px 0px;
}

.equip-icon-0.equip-icon-0-10-200 {
    background-position: -378px -42px;
}

.equip-icon-0.equip-icon-0-10-201 {
    background-position: -378px -84px;
}

.equip-icon-0.equip-icon-0-10-202 {
    background-position: -378px -126px;
}

.equip-icon-0.equip-icon-0-10--1 {
    background-position: -378px -168px;
}

.equip-icon-0.equip-icon-0-10-999 {
    background-position: -378px -210px;
}

.equip-icon-0.equip-icon-0-10-128 {
    background-position: -378px -252px;
}

.equip-icon-0.equip-icon-0-10-129 {
    background-position: -378px -252px;
}

.equip-icon-0.equip-icon-0-10-130 {
    background-position: -378px -252px;
}

.equip-icon-0.equip-icon-0-11-0 {
    background-position: -420px 0px;
}

.equip-icon-0.equip-icon-0-11-200 {
    background-position: -420px -42px;
}

.equip-icon-0.equip-icon-0-11-201 {
    background-position: -420px -84px;
}

.equip-icon-0.equip-icon-0-11-202 {
    background-position: -420px -126px;
}

.equip-icon-0.equip-icon-0-11--1 {
    background-position: -420px -168px;
}

.equip-icon-0.equip-icon-0-11-999 {
    background-position: -420px -210px;
}

.equip-icon-0.equip-icon-0-11-128 {
    background-position: -420px -252px;
}

.equip-icon-0.equip-icon-0-11-129 {
    background-position: -420px -252px;
}

.equip-icon-0.equip-icon-0-11-130 {
    background-position: -420px -252px;
}

.equip-icon-0.equip-icon-0-12-0 {
    background-position: -462px 0px;
}

.equip-icon-0.equip-icon-0-12-200 {
    background-position: -462px -42px;
}

.equip-icon-0.equip-icon-0-12-201 {
    background-position: -462px -84px;
}

.equip-icon-0.equip-icon-0-12-202 {
    background-position: -462px -126px;
}

.equip-icon-0.equip-icon-0-12--1 {
    background-position: -462px -168px;
}

.equip-icon-0.equip-icon-0-12-999 {
    background-position: -462px -210px;
}

.equip-icon-0.equip-icon-0-12-128 {
    background-position: -462px -252px;
}

.equip-icon-0.equip-icon-0-12-129 {
    background-position: -462px -252px;
}

.equip-icon-0.equip-icon-0-12-130 {
    background-position: -462px -252px;
}

.equip-icon-0.equip-icon-0-13-0 {
    background-position: -504px 0px;
}

.equip-icon-0.equip-icon-0-13-200 {
    background-position: -504px -42px;
}

.equip-icon-0.equip-icon-0-13-201 {
    background-position: -504px -84px;
}

.equip-icon-0.equip-icon-0-13-202 {
    background-position: -504px -126px;
}

.equip-icon-0.equip-icon-0-13--1 {
    background-position: -504px -168px;
}

.equip-icon-0.equip-icon-0-13-999 {
    background-position: -504px -210px;
}

.equip-icon-0.equip-icon-0-13-128 {
    background-position: -504px -252px;
}

.equip-icon-0.equip-icon-0-13-129 {
    background-position: -504px -252px;
}

.equip-icon-0.equip-icon-0-13-130 {
    background-position: -504px -252px;
}

.equip-icon-0.equip-icon-0-14-0 {
    background-position: -546px 0px;
}

.equip-icon-0.equip-icon-0-14-200 {
    background-position: -546px -42px;
}

.equip-icon-0.equip-icon-0-14-201 {
    background-position: -546px -84px;
}

.equip-icon-0.equip-icon-0-14-202 {
    background-position: -546px -126px;
}

.equip-icon-0.equip-icon-0-14--1 {
    background-position: -546px -168px;
}

.equip-icon-0.equip-icon-0-14-999 {
    background-position: -546px -210px;
}

.equip-icon-0.equip-icon-0-14-128 {
    background-position: -546px -252px;
}

.equip-icon-0.equip-icon-0-14-129 {
    background-position: -546px -252px;
}

.equip-icon-0.equip-icon-0-14-130 {
    background-position: -546px -252px;
}

.equip-icon-0.equip-icon-0-15-0 {
    background-position: -588px 0px;
}

.equip-icon-0.equip-icon-0-15-200 {
    background-position: -588px -42px;
}

.equip-icon-0.equip-icon-0-15-201 {
    background-position: -588px -84px;
}

.equip-icon-0.equip-icon-0-15-202 {
    background-position: -588px -126px;
}

.equip-icon-0.equip-icon-0-15--1 {
    background-position: -588px -168px;
}

.equip-icon-0.equip-icon-0-15-999 {
    background-position: -588px -210px;
}

.equip-icon-0.equip-icon-0-15-128 {
    background-position: -588px -252px;
}

.equip-icon-0.equip-icon-0-15-129 {
    background-position: -588px -252px;
}

.equip-icon-0.equip-icon-0-15-130 {
    background-position: -546px -252px;
}

.equip-icon-0.equip-icon-0-16-0 {
    background-position: -630px 0px;
}

.equip-icon-0.equip-icon-0-16-200 {
    background-position: -630px -42px;
}

.equip-icon-0.equip-icon-0-16-201 {
    background-position: -630px -84px;
}

.equip-icon-0.equip-icon-0-16-202 {
    background-position: -630px -126px;
}

.equip-icon-0.equip-icon-0-16--1 {
    background-position: -630px -168px;
}

.equip-icon-0.equip-icon-0-16-999 {
    background-position: -630px -210px;
}

.equip-icon-0.equip-icon-0-16-128 {
    background-position: -630px -252px;
}

.equip-icon-0.equip-icon-0-16-129 {
    background-position: -630px -252px;
}

.equip-icon-0.equip-icon-0-16-130 {
    background-position: -630px -252px;
}

.equip-icon-0.equip-icon-0-17-0 {
    background-position: -672px 0px;
}

.equip-icon-0.equip-icon-0-17-200 {
    background-position: -672px -42px;
}

.equip-icon-0.equip-icon-0-17-201 {
    background-position: -672px -84px;
}

.equip-icon-0.equip-icon-0-17-202 {
    background-position: -672px -126px;
}

.equip-icon-0.equip-icon-0-17--1 {
    background-position: -672px -168px;
}

.equip-icon-0.equip-icon-0-17-999 {
    background-position: -672px -210px;
}

.equip-icon-0.equip-icon-0-17-128 {
    background-position: -672px -252px;
}

.equip-icon-0.equip-icon-0-17-129 {
    background-position: -672px -252px;
}

.equip-icon-0.equip-icon-0-17-130 {
    background-position: -672px -252px;
}

.equip-icon-0.equip-icon-0-18-0 {
    background-position: -714px 0px;
}

.equip-icon-0.equip-icon-0-18-200 {
    background-position: -714px -42px;
}

.equip-icon-0.equip-icon-0-18-201 {
    background-position: -714px -84px;
}

.equip-icon-0.equip-icon-0-18-202 {
    background-position: -714px -126px;
}

.equip-icon-0.equip-icon-0-18--1 {
    background-position: -714px -168px;
}

.equip-icon-0.equip-icon-0-18-999 {
    background-position: -714px -210px;
}

.equip-icon-0.equip-icon-0-18-128 {
    background-position: -714px -252px;
}

.equip-icon-0.equip-icon-0-18-129 {
    background-position: -714px -252px;
}

.equip-icon-0.equip-icon-0-18-130 {
    background-position: -714px -252px;
}

.equip-icon-0.equip-icon-0-19-0 {
    background-position: -756px 0px;
}

.equip-icon-0.equip-icon-0-19-200 {
    background-position: -756px -42px;
}

.equip-icon-0.equip-icon-0-19-201 {
    background-position: -756px -84px;
}

.equip-icon-0.equip-icon-0-19-202 {
    background-position: -756px -126px;
}

.equip-icon-0.equip-icon-0-19--1 {
    background-position: -756px -168px;
}

.equip-icon-0.equip-icon-0-19-999 {
    background-position: -756px -210px;
}

.equip-icon-0.equip-icon-0-19-128 {
    background-position: -756px -252px;
}

.equip-icon-0.equip-icon-0-19-129 {
    background-position: -756px -252px;
}

.equip-icon-0.equip-icon-0-19-130 {
    background-position: -756px -252px;
}

.equip-icon-0.equip-icon-0-20-0 {
    background-position: -798px 0px;
}

.equip-icon-0.equip-icon-0-20-200 {
    background-position: -798px -42px;
}

.equip-icon-0.equip-icon-0-20-201 {
    background-position: -798px -84px;
}

.equip-icon-0.equip-icon-0-20-202 {
    background-position: -798px -126px;
}

.equip-icon-0.equip-icon-0-20--1 {
    background-position: -798px -168px;
}

.equip-icon-0.equip-icon-0-20-999 {
    background-position: -798px -210px;
}

.equip-icon-0.equip-icon-0-20-128 {
    background-position: -798px -252px;
}

.equip-icon-0.equip-icon-0-20-129 {
    background-position: -798px -252px;
}

.equip-icon-0.equip-icon-0-20-130 {
    background-position: -798px -252px;
}

.equip-icon-0.equip-icon-0-21-0 {
    background-position: -840px 0px;
}

.equip-icon-0.equip-icon-0-21-200 {
    background-position: -840px -42px;
}

.equip-icon-0.equip-icon-0-21-201 {
    background-position: -840px -84px;
}

.equip-icon-0.equip-icon-0-21-202 {
    background-position: -840px -126px;
}

.equip-icon-0.equip-icon-0-21--1 {
    background-position: -840px -168px;
}

.equip-icon-0.equip-icon-0-21-999 {
    background-position: -840px -210px;
}

.equip-icon-0.equip-icon-0-21-128 {
    background-position: -840px -252px;
}

.equip-icon-0.equip-icon-0-21-129 {
    background-position: -840px -252px;
}

.equip-icon-0.equip-icon-0-21-130 {
    background-position: -840px -252px;
}

.equip-icon-0.equip-icon-0-22-0 {
    background-position: -882px 0px;
}

.equip-icon-0.equip-icon-0-22-200 {
    background-position: -882px -42px;
}

.equip-icon-0.equip-icon-0-22-201 {
    background-position: -882px -84px;
}

.equip-icon-0.equip-icon-0-22-202 {
    background-position: -882px -126px;
}

.equip-icon-0.equip-icon-0-22--1 {
    background-position: -882px -168px;
}

.equip-icon-0.equip-icon-0-22-999 {
    background-position: -882px -210px;
}

.equip-icon-0.equip-icon-0-22-128 {
    background-position: -882px -252px;
}

.equip-icon-0.equip-icon-0-22-129 {
    background-position: -882px -252px;
}

.equip-icon-0.equip-icon-0-22-130 {
    background-position: -882px -252px;
}

.equip-icon-0.equip-icon-0-23-0 {
    background-position: -924px 0px;
}

.equip-icon-0.equip-icon-0-23-200 {
    background-position: -924px -42px;
}

.equip-icon-0.equip-icon-0-23-201 {
    background-position: -924px -84px;
}

.equip-icon-0.equip-icon-0-23-202 {
    background-position: -924px -126px;
}

.equip-icon-0.equip-icon-0-23--1 {
    background-position: -924px -168px;
}

.equip-icon-0.equip-icon-0-23-999 {
    background-position: -924px -210px;
}

.equip-icon-0.equip-icon-0-23-128 {
    background-position: -924px -252px;
}

.equip-icon-0.equip-icon-0-23-129 {
    background-position: -924px -252px;
}

.equip-icon-0.equip-icon-0-23-130 {
    background-position: -924px -252px;
}

.equip-icon-0.equip-icon-0-24-0 {
    background-position: -966px 0px;
}

.equip-icon-0.equip-icon-0-24-200 {
    background-position: -966px -42px;
}

.equip-icon-0.equip-icon-0-24-201 {
    background-position: -966px -84px;
}

.equip-icon-0.equip-icon-0-24-202 {
    background-position: -966px -126px;
}

.equip-icon-0.equip-icon-0-24--1 {
    background-position: -966px -168px;
}

.equip-icon-0.equip-icon-0-24-999 {
    background-position: -966px -210px;
}

.equip-icon-0.equip-icon-0-24-128 {
    background-position: -966px -252px;
}

.equip-icon-0.equip-icon-0-24-129 {
    background-position: -966px -252px;
}

.equip-icon-0.equip-icon-0-24-130 {
    background-position: -966px -252px;
}

.equip-icon-0.equip-icon-0-25-0 {
    background-position: -1008px 0px;
}

.equip-icon-0.equip-icon-0-25-200 {
    background-position: -1008px -42px;
}

.equip-icon-0.equip-icon-0-25-201 {
    background-position: -1008px -84px;
}

.equip-icon-0.equip-icon-0-25-202 {
    background-position: -1008px -126px;
}

.equip-icon-0.equip-icon-0-25--1 {
    background-position: -1008px -168px;
}

.equip-icon-0.equip-icon-0-25-999 {
    background-position: -1008px -210px;
}

.equip-icon-0.equip-icon-0-25-128 {
    background-position: -1008px -252px;
}

.equip-icon-0.equip-icon-0-25-129 {
    background-position: -1008px -252px;
}

.equip-icon-0.equip-icon-0-25-130 {
    background-position: -1008px -252px;
}

.equip-icon-0.equip-icon-0-26-0 {
    background-position: -1050px 0px;
}

.equip-icon-0.equip-icon-0-26-200 {
    background-position: -1050px -42px;
}

.equip-icon-0.equip-icon-0-26-201 {
    background-position: -1050px -84px;
}

.equip-icon-0.equip-icon-0-26-202 {
    background-position: -1050px -126px;
}

.equip-icon-0.equip-icon-0-26--1 {
    background-position: -1050px -168px;
}

.equip-icon-0.equip-icon-0-26-999 {
    background-position: -1050px -210px;
}

.equip-icon-0.equip-icon-0-26-128 {
    background-position: -1050px -252px;
}

.equip-icon-0.equip-icon-0-26-129 {
    background-position: -1050px -252px;
}

.equip-icon-0.equip-icon-0-26-130 {
    background-position: -1050px -252px;
}

.equip-icon-0.equip-icon-0-27-0 {
    background-position: -1092px 0px;
}

.equip-icon-0.equip-icon-0-27-200 {
    background-position: -1092px -42px;
}

.equip-icon-0.equip-icon-0-27-201 {
    background-position: -1092px -84px;
}

.equip-icon-0.equip-icon-0-27-202 {
    background-position: -1092px -126px;
}

.equip-icon-0.equip-icon-0-27--1 {
    background-position: -1092px -168px;
}

.equip-icon-0.equip-icon-0-27-999 {
    background-position: -1092px -210px;
}

.equip-icon-0.equip-icon-0-27-128 {
    background-position: -1092px -252px;
}

.equip-icon-0.equip-icon-0-27-129 {
    background-position: -1092px -252px;
}

.equip-icon-0.equip-icon-0-27-130 {
    background-position: -1092px -252px;
}

.equip-icon-0.equip-icon-0-28-0 {
    background-position: -1134px 0px;
}

.equip-icon-0.equip-icon-0-28-200 {
    background-position: -1134px -42px;
}

.equip-icon-0.equip-icon-0-28-201 {
    background-position: -1134px -84px;
}

.equip-icon-0.equip-icon-0-28-202 {
    background-position: -1134px -126px;
}

.equip-icon-0.equip-icon-0-28--1 {
    background-position: -1134px -168px;
}

.equip-icon-0.equip-icon-0-28-999 {
    background-position: -1134px -210px;
}

.equip-icon-0.equip-icon-0-28-128 {
    background-position: -1134px -252px;
}

.equip-icon-0.equip-icon-0-28-129 {
    background-position: -1134px -252px;
}

.equip-icon-0.equip-icon-0-28-130 {
    background-position: -1134px -252px;
}

.equip-icon-0.equip-icon-0-29-0 {
    background-position: -1176px 0px;
}

.equip-icon-0.equip-icon-0-29-200 {
    background-position: -1176px -42px;
}

.equip-icon-0.equip-icon-0-29-201 {
    background-position: -1176px -84px;
}

.equip-icon-0.equip-icon-0-29-202 {
    background-position: -1176px -126px;
}

.equip-icon-0.equip-icon-0-29--1 {
    background-position: -1176px -168px;
}

.equip-icon-0.equip-icon-0-29-999 {
    background-position: -1176px -210px;
}

.equip-icon-0.equip-icon-0-29-128 {
    background-position: -1176px -252px;
}

.equip-icon-0.equip-icon-0-29-129 {
    background-position: -1176px -252px;
}

.equip-icon-0.equip-icon-0-29-130 {
    background-position: -1176px -252px;
}

.equip-icon-0.equip-icon-0-30-0 {
    background-position: -1218px 0px;
}

.equip-icon-0.equip-icon-0-30-200 {
    background-position: -1218px -42px;
}

.equip-icon-0.equip-icon-0-30-201 {
    background-position: -1218px -84px;
}

.equip-icon-0.equip-icon-0-30-202 {
    background-position: -1218px -126px;
}

.equip-icon-0.equip-icon-0-30--1 {
    background-position: -1218px -168px;
}

.equip-icon-0.equip-icon-0-30-999 {
    background-position: -1218px -210px;
}

.equip-icon-0.equip-icon-0-30-128 {
    background-position: -1218px -252px;
}

.equip-icon-0.equip-icon-0-30-129 {
    background-position: -1218px -252px;
}

.equip-icon-0.equip-icon-0-30-130 {
    background-position: -1218px -252px;
}

/*天气图标样式-01*/
.w-icon-0 {
    width: 20px;
    height: 20px;
    background-image: url("../img/icon_weather_01.png");
    background-repeat: no-repeat;
}

.w-icon-0.w-icon-0-1 {
    background-position: 0px 0px;
}

.w-icon-0.w-icon-0-2 {
    background-position: -20px 0px;
}

.w-icon-0.w-icon-0-3 {
    background-position: -40px 0px;
}

.w-icon-0.w-icon-0-4 {
    background-position: -60px 0px;
}

.w-icon-0.w-icon-0-5 {
    background-position: -80px 0px;
}

.w-icon-0.w-icon-0-6 {
    background-position: 0px -20px;
}

.w-icon-0.w-icon-0-7 {
    background-position: -20px -20px;
}

.w-icon-0.w-icon-0-8 {
    background-position: -40px -20px;
}

.w-icon-0.w-icon-0-9 {
    background-position: -60px -20px;
}

.w-icon-0.w-icon-0-10 {
    background-position: -80px -20px;
}

/*天气图标样式-02*/
.w-icon-1 {
    width: 20px;
    height: 20px;
    background-image: url("../img/icon_weather_02.png");
    background-repeat: no-repeat;
}

.w-icon-1.w-icon-1-1 {
    background-position: 0px 0px;
}

.w-icon-1.w-icon-1-2 {
    background-position: -20px 0px;
}

.w-icon-1.w-icon-1-3 {
    background-position: -40px 0px;
}

.w-icon-1.w-icon-1-4 {
    background-position: -60px 0px;
}

.w-icon-1.w-icon-1-5 {
    background-position: -80px 0px;
}

.w-icon-1.w-icon-1-6 {
    background-position: 0px -20px;
}

.w-icon-1.w-icon-1-7 {
    background-position: -20px -20px;
}

.w-icon-1.w-icon-1-8 {
    background-position: -40px -20px;
}

.w-icon-1.w-icon-1-9 {
    background-position: -60px -20px;
}

.w-icon-1.w-icon-1-10 {
    background-position: -80px -20px;
}