<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbee.poi.dao.ResourcesMapper">

    <sql id="baseSQL">
        select r.id,
        r.name,
        r.parentId,
        r.resKey,
        r.level,
        r.type,
        r.resUrl,
        r.description
        from t_s_resources r
    </sql>

    <insert id="save" parameterType="com.newbee.poi.entity.Resources">
        INSERT INTO t_s_resources(name,parentId,resUrl,resKey,level,type,description)
        VALUES (#{name},#{parentId},#{resUrl},#{resKey},#{level},#{type},#{description});
    </insert>


    <!-- 根据id获取 -->
    <select id="queryAll" resultType="com.newbee.poi.entity.Resources">
        <include refid="baseSQL"/>
    </select>

    <select id="queryById" parameterType="java.lang.Integer" resultType="com.newbee.poi.entity.Resources">
        <include refid="baseSQL"/>
        <if test="id!=null">
            WHERE r.id=#{id,jdbcType=INTEGER}
        </if>
    </select>
    <select id="queryByName" parameterType="java.lang.String" resultType="com.newbee.poi.entity.Resources">
        <include refid="baseSQL"/>
        <if test="name!=null">
            WHERE r.name=#{name,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="queryByType" parameterType="java.lang.Integer" resultType="com.newbee.poi.entity.Resources">
        <include refid="baseSQL"/>
        WHERE r.type=#{type,jdbcType=INTEGER} AND r.parentId=#{parentId,jdbcType=INTEGER};
    </select>

    <update id="update" parameterType="com.newbee.poi.entity.Resources">
        UPDATE t_s_resources
        <set>
            <if test="name!=null">
                name=#{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId!=null">
                parentId=#{parentId,jdbcType=INTEGER},
            </if>
            <if test="resUrl!=null">
                resUrl=#{resUrl,jdbcType=VARCHAR},
            </if>
            <if test="resKey!=null">
                resKey=#{resKey,jdbcType=VARCHAR},
            </if>
            <if test="level!=null">
                level=#{level,jdbcType=INTEGER},
            </if>
            <if test="type!=null">
                type=#{type,jdbcType=VARCHAR},
            </if>
            <if test="description!=null">
                description=#{description,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE id=#{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM t_s_resources WHERE id=#{id,jdbcType=INTEGER};
    </delete>
</mapper>