<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.newbee.poi.dao.UserInfoDao">

    <sql id="baseQuesy">SELECT * from t_user_info </sql>
    <!-- 根据id获取 -->
    <select id="queryAll" resultType="com.newbee.poi.entity.UserInfo">
        <include refid="queryAll"/>
    </select>
    
    <select id="queryByUserName" parameterType="string" resultType="com.newbee.poi.entity.UserInfo">
        <include refid="baseQuesy" />
        WHERE userName=?;
    </select>

</mapper>